* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
body {
    height: 100%;
    width: 100%;
    background-color: #fff;
}

/* -------NAVBAR--------------- */
.navbar {
    background-color: #000000;
    height: 6%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    position: fixed;
    height: 10%;

}

.brand {
    padding: 10px 8px;
    display: flex;
    width: 25%;
    height: 20%;
    align-items: center;
    justify-content: space-around;
    margin-left: 3%;
}

#logo {
    padding-right: 1%;
    filter: invert(100%);
    height: 2em;

}

#logo-text {
    color: white;
    font-size: 2rem;
    border-right: 3px solid white;
    padding-right: 5%;
}

#helpcntr {
    margin: 5px;
    font-weight: 600;
    font-size: 1.6rem;
    color: white;
}

.buttons {
    width: 30%;
}

#submit-btn {
    margin-right: 3%;
    height: 20%;
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 2% 3%;
    font-size: 1.5rem;
    border-radius: 10px;
    transition: background-color 0.1s ease-in-out 0.1s;
}

#submit-btn:hover {
    background-color: white;
    color: black;
}

#signIn-btn {
    color: white;
    font-size: 1.5rem;
    background-color: #4C5FD5;
    padding: 2.5% 8%;
    border-radius: 10px;
}

/* How Can We Help You */
.section1 {
    background-color: #dadbf1;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#section1-heading {

    top: 30%;
    padding: 10px;
    font-size: 4.5rem;
}

.searchBox {
    display: flex;
    width: 45%;
    padding: 20px 10px;
    background-color: white;
    border-radius: 14px;

}

.searchBox:hover {

    border: 2px solid #4C5FD5;
}


#searchText {
    border: none;
    width: 90%;
    background: transparent;
    outline: none;
    font-size: 1.25rem;
}
#searchBTN {
    background-color: transparent;
    outline: none;
    border: none;
}

#searchBTN>img {
    width: 30px;
    height: 30px;
}

/* Section 2 */

.section2{
    display: grid;
    grid-template-columns: repeat(2, 0.4fr);
    grid-template-rows: repeat(3,0.4fr);
    align-items: center;
    justify-content: center;
    height:900px;
    gap: 20px;
}

.info{
    height: 80%;    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.info>div{
    width: 80%;
    display: flex;
    flex-direction: column;
 
}
.info>div>h2{
    font-size: 1.7rem;
    margin: 10px;
    font-weight:bold;
}
.info>div>p{
    font-size: 1.3rem;
    margin:10px;
}
.info>div>a{
    text-decoration: none;
    font-size: 1.25rem;
    margin: 10px;
}
.section2img{

    width: 100px;
    height: 100px;
}
/* Footer */
.footer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background-color: #000000;
    color: white;
    width: 100%;
    height: 20rem;
    font-family:Arial, Helvetica, sans-serif;  
}
.footer>ul{
    list-style: none;
}

.footer-logo{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: end;
    width: 90%;
    
}
.footer-logo>img{
    filter: invert(100%);
    width: 45px;
    margin: 20px;
}
.footer-logo>p{
    font-size: 1.25rem;
}
.footer>div>ul{
    list-style: none;
}
.footer>div>h2{
    margin: 15px 0;
}
.footer>div{
    margin: 0px 20%;
    padding: 20px;
    line-height: 1.5rem;
}
.footer a{
    color: white;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}
.divbtn{
    width: 10%;
}
#chat{
    background-color: #4C5FD5;
    border: none;
    color: white;
    padding: 20px;
    border-radius: 50%;
    position: fixed;
    font-size: 1.2rem;
    bottom: 23px;
    right: 28px;
    outline: none;
     z-index: 1;
     transition: background-color 0.1s ease-in 0.1s;
}
#chat:active{
    background-color: #5268fd;
}
